<div class="row">
    <div class="col-md-2">
        <div ng-include src="'partials/settings_sidepanel.html'"></div>

    </div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><a href="#">Global Settings</a></li>
            <li><a href="#">Case Alerts</a></li>
            <li class="active">Case Alert Conditions</li>
        </ol>

        <ul class="nav nav-pills navbar-right">
            <li class="active"><a href="javascript:void(0);">Web</a></li>
            <li><a href="javascript:void(0);">Sms</a></li>
            <li><a href="javascript:void(0);">IVR</a></li>
        </ul>
        <br/>
        <h3>Case Alert Conditions</h3>


        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3"><button type="button" class="btn btn-success btn-lg  queue_edit"><span
                    class="glyphicon glyphicon-plus-sign"></span> Add Condition
            </button>
        </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr class="info">
                <th>Question Title</th>
                <th>Alert Condition</th>
                <th>Join Conditions</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Question 1</td>
                <td>< 3</td>
                <td>AND</td>
                <td>
                    <button class="btn btn-info queue_edit"><i class="fa fa-edit fa-lg"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
                </td>
            </tr>
            <tr>
                <td>Question 2</td>
                <td>>= 5</td>
                <td>AND</td>
                <td>
                    <button class="btn btn-info queue_edit"><i class="fa fa-edit fa-lg"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
                </td>
            </tr>
            <tr>
                <td>Question 3</td>
                <td>< 3</td>
                <td>AND</td>
                <td>
                    <button class="btn btn-info queue_edit"><i class="fa fa-edit fa-lg"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
                </td>
            </tr>
            <tr>
                <td>Question 4</td>
                <td>< 4</td>
                <td>AND NOT</td>
                <td>
                    <button class="btn btn-info queue_edit"><i class="fa fa-edit fa-lg"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="panel panel-info queue_edit_block" style="display: none;">
            <div class="panel-heading">Alert Conditions:
                <button type="button" class="close close_block">&times;</button>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-10">
                            <label class="checkbox-inline control-label">
                                <input type="checkbox" value="option2"> Use External Id of selected question for comparison
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="" placeholder="Case alert title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Channel</label>

                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="channel" value="option2" checked> Web
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="channel" value="option2"> Sms
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="channel" value="option2"> IVR
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="channel" value="option2"> Expired
                            </label>
                        </div>
                        <div class="col-sm-2">
                    </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Survey</label>
                        <div class="col-sm-10">
                            <select name="quesion_type" class="form-control">
                                <option value="1">Choose Survey</option>
                                <option value="2">Survey title test 1</option>
                                <option value="3">Survey title test 2</option>
                                <option value="4">Survey title test 3</option>
                                <option value="5">Survey title test 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Question</label>
                        <div class="col-sm-10">
                            <select name="quesion_type" class="form-control">
                                <option value="1">Choose Question</option>
                                <option value="2">Question 2</option>
                                <option value="3">Question 3</option>
                                <option value="4">Question 4</option>
                                <option value="5">Question 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Alert Condition</label>

                        <div class="col-sm-1">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition" value="option2" checked> &lt;
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition" value="option2"> <!--&#8804;-->&lt;&#61;
                            </label>
                        </div>
                        <div class="col-sm-1">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition" value="option2"> &gt;
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition" value="option2"> <!--&#8805;-->&gt;&#61;
                            </label>
                        </div>
                        <div class="col-sm-1">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition" value="option2"> &#61;
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition" value="option2"> !&#61;
                            </label>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Answer Value</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" value="" placeholder="5"/>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Join Condition</label>

                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition_join" value="option2" checked> AND
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline control-label">
                                <input type="radio" name="condition_join" value="option2"> AND NOT
                            </label>
                        </div>
                        <div class="col-sm-6">
                        </div>

                    </div>

                </form>
                <br/>
            </div>
            <div class="panel-footer">
                <div class="col-sm-3">
                    <p class="text-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    </p>
                </div>
                <div class="col-sm-9">
                    <p class="text-right">
                        <button type="button" class="btn btn-default close_block">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </p>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>


    </div>
</div>


<script src="lib/jquery/scrollup.js"></script>