<nav ng-controller="SidebarController" class="navbar navbar-default">
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="navClass('customers_management/addresses_management')"><a href="#/customers_management/addresses_management">Addresses Management</a></li>
        <li ng-class="navClass('customers_management/customers_management')"><a href="#/customers_management/customers_management">Customers Data Management</a></li>
        <li ng-class="navClass('customers_management/customers_target_groups')"><a href="#/customers_management/customers_target_groups">Customers Target Groups</a></li>
    </ul>
</nav>