<div class="row">
    <div class="col-md-2">
        <div ng-include src="'partials/sidepanel.html'"></div>

    </div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><a href="#/surveys_list">Surveys</a></li>
            <li><a href="#/surveys_list/survey">Survey title test 2</a></li>
            <li class="active">Quarantine</li>
        </ol>

        <ul class="nav nav-pills navbar-right">
            <li class="active"><a href="javascript:void(0);">Web</a></li>
            <li><a href="javascript:void(0);">Sms</a></li>
            <li><a href="javascript:void(0);">IVR</a></li>
        </ul>
        <div class="clearfix"></div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>This survey blocks</h3>
            </div>
            <div class="panel-body">

        <table class="table table-striped table-hover">
            <thead>
            <tr class="info">
                <th>Survey title</th>
                <th>For days</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Survey test 2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Survey test 3</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Survey test 4</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Survey test 5</td>
                <td>2</td>
            </tr>
            </tbody>
        </table>

            </div>
        </div>

        <br/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>This survey is blocked by</h3>
            </div>
            <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
            <tr class="info">
                <th>Survey title</th>
                <th>For days</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Survey test 2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Survey test 3</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Survey test 4</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Survey test 5</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>

            </div>
        </div>









    </div>
</div>

<script src="lib/jquery/scrollup.js"></script>